<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <title>SASid Code Sample</title>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/users.js"></script>
    <link rel="stylesheet" href="~/Styles/bootstrap.min.css">
    <link rel="stylesheet" href="~/Styles/users.css">
  </head>
  <body>
    <div class="flex-container">
      <div id="formAndResult">
        <form id="form">
          <div class="form-group">
            <label for="exampleInputEmail1">User ID</label>
            <input id="userID" type="number" class="form-control" placeholder="Enter a user ID">
            <small id="searchHelp" class="form-text text-muted">Navigate to /all to see which users you can search for.</small>
          </div>
          <div id="buttonAndSpinner">
            <button id="btn" type="button" class="btn btn-primary">Submit</button>
            <div id="spinner" class="spinner-border text-primary" role="status" style="display: none;">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </form>
        <div id="result">
          <p id="resultText"></p>
        </div>
      </div>
    </div>

    <script>
      $(document).ready( function() {
        $("#btn").on("click", function () {
          getUser();
        });

        // This prevents the form from submitting when the enter key is pressed in the
        //    input field. This lets an enter key press act like a submit button press.
        document.getElementById("form").onkeypress = function(e) {
          var key = e.charCode || e.keyCode || 0;     
          if (key == 13) {
            getUser();
            e.preventDefault();
            return false;
          }
        }
      });

      function getUser(){
        $("#spinner").toggle();
        $.ajax({
          type: "GET",
          url: "users?userID=" + $("#userID").val(),
          success: function (user) {
            $("#resultText").text(getSuccessString(user));
            $("#spinner").toggle();
          },
          error: function (response) {
            $("#resultText").text(getErrorString(response, $("#userID").val()));
            $("#spinner").toggle();
          }
        });
      }
    </script>
  </body>
</html>